@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	user-select: none;
	font-family: "Roboto", sans-serif;
}

body{
	color: white;
	background-color: #222;
	overflow-x: hidden;
}

.navbar{
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	height: 90px;
	width: 100vw;
	background-color: #222; /*#a57c24*/
	border-bottom: 3px solid white;
	user-select: none;
}

.logo{
}

.logo img{
	width: 90px;
	height: 90px;
}

.paginas{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
}

.paginas a{
	margin: 5px;
	text-decoration: none;
	color: white;
	font-size: 8px;
	text-transform: uppercase;
	background: #222;
	padding: 25px 10px;
	border-bottom: 4.5px solid #222;
	transition: all 200ms ease-in;
}

.paginas a:hover{
	background: #3333;
	color: yelllow;
	border-bottom: 4.5px solid yellow;
	text-shadow: 0 0 5px black;
}

#whatsapp{
	width: 22.5px;
	height: 19px;
	color: green;
}

.paginas .whatsapp:hover{
	border-bottom: 4.5px solid green;
}

.catalogo{
	height: 95vh;
	width: 100vw;
	background-image: linear-gradient(rgba(29, 29, 29, 0.6), rgba(29, 29, 29, 0.6)) ,url(./images/pastel1.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: 50px;
	background-image: opacity(.1);
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-shadow: 0 0 5px #222;
	user-select: none;
}

.container-catalogo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-top: 100px;
}

.container-catalogo h1{
	color: #ffc506;
	text-transform: uppercase;
	font-size: 32px;
	margin-bottom: 5px;
}

.container-catalogo h3{
	color: white;
	text-transform: uppercase;
	font-size: 12px;
}

.buttons{
	margin: 10px 0;
}

.buttons button{
	width: 127px;
	height: 37px;
	margin: 0 10px;
	border-radius: 15px;
	border: 3px solid #ffc506;
	background-color: #ffc506;
	color: #222;
	text-shadow: 0 0 10px #222;
	font-size: 14px;
	cursor: pointer;
	transition: all 300ms ease-in;
}

.buttons button:hover{
	background-color: transparent;
	border: 3px solid #ffc506;
	color: #ffc506;
}

span{
	color: #ffc506;
	font-size: 28px;
	text-weight: 600;
	text-transform: uppercase;
}

.sobre{
	height: 400px;
	width: 100vw;
	background-color: #222;
	border-bottom: 4px solid gray;
	border-top: 4px solid gray;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.sobre img{
	width: 210px;
	height: 210px;
	border-radius: 10px;
	border: 2px solid gray;
}

.sobre-content{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	width: 100vw;
}

.sobre-content h2{
	margin-top: 20px;
	color: white;
	font-size: 12px;
	text-weight: 500;
	text-transform: uppercase;
}

.container-cardapio{
	height: 200vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #222;
}

.container-cardapio h1{
	margin-top: 35px;
	margin-bottom: 35px;
	text-transform: uppercase;
	color: #ffc506;
	font-size: 30px;
}

.content-cardapio{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 90vw;
}

.bebidas{
	height: 85vh;
	width: 65vw;
	margin-top: 25px;
	text-align: center;
}

.bebidas h3{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 24px;
	text-transform: uppercase;
}

.bebidas img{
	height: 100%;
	width: 100%;
	border-radius: 12.5px;
	margin-bottom: 10px;
}

.comidas{
	height: 85vh;
	width: 65vw;
	margin-bottom: 25px;
	text-align: center;
}

.comidas h3{
	margin-bottom: 20px;
	font-size: 24px;
	text-transform: uppercase;
}

.comidas img{
	height: 100%;
	width: 100%;
	border-radius: 12.5px;
}

/* M E N U  H A M B U R G U E*/

.menu{
	display: none;
}

/* C O N T A T O S */

.contatos{
	display: flex;
	flex-direction: column;
	align-items: center;
	

	width: 100vw;
	height: 200px;
	border-top: 3px solid white;
	background-color: black;
	color: white;
	text-shadow: 0 0 5px #222;
	text-transform: uppercase;
}

.contatos-p{
	display: flex;
	flex-direction: row;
}

.contatos h1{
	margin-top: 30px;
	margin-bottom: 25px;
	font-size: 24px;
}

.contatos h3{
	margin-bottom: 5px;
	font-size: 16px;
}

.contatos a, .contatos h4{
	font-size: 14px;
	margin-top: 3.5px;
	margin-left: 9px;
	text-decoration: none;
	text-shadow: 0 0 5px aqua;
	color: aqua;
}

.contatos a:hover{
	opacity: 50%;
	text-shadow: 0 0 10px aqua;
}

.contatos-icons{
	margin-right: 20px;
}

.contatos-icons ion-icon{
	margin-right: 5px;
}

#youtu{
	color: white;
}

#whats{
	color: white;
}

#insta{
	color: white;
}

@media (max-width: 1000px){

	.navbar{
		height: 90px;
	}
	
	.logo img{
		width: 90px;
		height: 90px;
	}
	

	.paginas a{
		font-size: 9px;
		margin: 1px;
	}
	
	.catalogo h1{
		font-size: 26px;
	}
	
	.catalogo h3{
		font-size: 13px;
	}
	
	.buttons button{
		width: 110px;
		height: 35px;
		font-size: 12px;
	}
	
	span{
		font-size: 24px;
	}
	
	.sobre img{
		width: 125px;
		height: 125px;
	}
	
	.sobre-content h2{
		font-size: 12px;
	}
	
	.container-cardapio h1{
		font-size: 26px;
	}
	
	.content-cardapio{
		width: 90vw;
		height: 90vh;
	}
	
	.comidas{
		width: 70vw;
		height: 88vh;
		margin-bottom: 30px;
	}
	
	.bebidas{
		margin-top: 30px;
		width: 70vw;
		height: 88vh;
	}
	
}

@media (max-width: 800px){

	.navbar{
		height: 85px;
	}
	
	.logo img{
		width: 80px;
		height: 80px;
	}
	

	.paginas a{
		font-size: 8px;
		margin: 1px;
	}
	
	.catalogo h1{
		font-size: 24px;
	}
	
	.catalogo h3{
		font-size: 11px;
	}
	
	.buttons button{
		width: 108px;
		height: 33.3px;
		font-size: 12px;
	}
	
	span{
		font-size: 27px;
	}
	
	.sobre img{
		width: 120px;
		height: 120px;
	}
	
	.sobre-content h2{
		font-size: 14px;
	}
	
	.container-cardapio h1{
		font-size: 25px;
	}
	
	.content-cardapio{
		width: 90vw;
		height: 90vh;
	}
	
	.comidas{
		width: 70vw;
		height: 80vh;
		margin-bottom: 25px;
	}
	
	.bebidas{
		margin-top: 25px;
		width: 70vw;
		height: 80vh;
	}
	
	.menu{
		display: none;
	}
	
}

@media (max-width: 700px){
	
	/* M E N U  H A M B U R G U E */
		.menu{
			display: flex;
		}
			
		.menu ul{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		
		.menu-fake, .menu-lines{
		position: absolute;
		right: 32;
		top: 20;
		}
		
		.menu .menu-fake {
		position: absolute;
		z-index: 1000;
		width: 35px;
		height: 35px;
		opacity: 0;
		cursor: pointer;
		}
		
		.menu .menu-lines {
		position: absolute;
		z-index: 999;
		width: 35px;
		height: 35px;
		}
		
		.menu .menu-lines span {
		display: block;
		width: 35px;
		height: 5px;
		margin-bottom: 10px;
		background-color: white;
		border-radius: 3px;
		transition: all ease .2s;
		}
		
		.menu .menu-fake:checked ~ .menu-lines span:nth-child(1){
		transform-origin: 0% 0%;
		transform: rotate(45deg) scale(1.25);
		}
		
		.menu .menu-fake:checked ~ .menu-lines span:nth-child(2){
		opacity: 0;
		}
		
		.menu .menu-fake:checked ~ .menu-lines span:nth-child(3){
		transform-origin: 0% 100%;
		transform: rotate(-45deg) scale(1.25);
		
		}
		
		.menu ul {
		position: absolute;
		z-index: 998;
		left: 0;
		top: 0;
		padding-top: 10px;
		width: 80vw;
		background-color: #232323;
		height: 100vh;
		margin-left: -90vw;
		transition: all ease .2s;
		}
		
		.menu .menu-fake:checked ~ ul {
		margin-left: 0;
		}
		
		.menu ul li {
		position: relative;
		padding: 10px 30px;
		top: 100px;
		margin: 10px 0;
		}
		
		#whatsapp{
		height: 33px;
		width: 33px;
		border-bottom: 4px solid #232323;
		padding: 15px 15px;
		}
		
		#whatsapp:hover {
		border-bottom: 4px solid green;
		}
		
		.menu ul li a {
		text-decoration: none;
		color: white;
		font-size: 25px;
		transition: all ease .3s;
		margin: 20px 0;
		padding: 10px 5px;
		border-bottom: 4px solid #232323;
		}
		
		.menu ul li a:hover {
		border-bottom: 4px solid yellow;
		background-color: #3333;
		}

/* F I M   D O   M E N U  H A M B U R G U E */
	
	.navbar{
		height: 80px;
		justify-content: center;
	}
	
	.logo img{
		width: 78px;
		height: 78px;
	}
	

	.paginas a{
		display: none;
		font-size: 7.5px;
		margin: 1px;
	}
	
	.catalogo h1{
		font-size: 23px;
	}
	
	.catalogo h3{
		font-size: 10px;
	}
	
	.buttons button{
		width: 104px;
		height: 30px;
		font-size: 11px;
	}
	
	span{
		font-size: 28px;
	}
	
	.sobre img{
		width: 115px;
		height: 115px;
	}
	
	.sobre-content h2{
		font-size: 12px;
	}
	
	.container-cardapio h1{
		font-size: 24px;
	}
	
	.content-cardapio{
		width: 90vw;
		height: 90vh;
	}
	
	.comidas{
		width: 70vw;
		height: 80vh;
		margin-bottom: 25px;
	}
	
	.bebidas{
		margin-top: 25px;
		width: 70vw;
		height: 80vh;
	}
	
}